<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Speculate GRF</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
